.line-1px{
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 1px;
    border: none;

    &:after{
        content: '';
        position: relative;
        width: 100%;
        height: 1px;
        background: red;
    }
}
