*{
    margin: 0;
    padding: 0;
}
ul,ol,li{
    list-style: none;
}
div,
p,
ul,
li,
header,
footer,
nav,
section{
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
