<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="测试一下">
    <title><%= title%></title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/common/reset.css">
    <link rel="stylesheet" href="/css/common/common.css">
</head>
<body>
    <nav class="nav">
        <span class="nav-left">欢迎进入</span>
        <span class="nav-right">
            咨询热线：<b>123123123</b>
        </span>
    </nav>
